@media screen and (min-width: 768px) {
  /* Text Elements */

  h1 span.heading-text-1 {
    font-family: Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
  }

  h1.heading-1 {
    color: #fff;
    text-align: center;
    text-shadow: #6a6868 2px 2px 5px;
    font-variant: small-caps;
  }

  h3 span.heading-text-2 {
    font-family: Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
  }

  h3.heading-2 {
    position: static;
    margin-top: 0;
    color: #fff;
    text-align: center;
    font-size: 21px;
  }

  /* Interaction Elements */

  a.link-button.btn {
    -ms-flex-order: 0;
    float: none;
    margin-top: 15px;
    width: 100%;
    border-color: #020200;

    -webkit-align-self: center;
    -ms-flex-item-align: center;
            align-self: center;
    -webkit-box-ordinal-group: 1;
    -webkit-order: 0;
       -moz-box-ordinal-group: 1;
            order: 0;
  }

  /* Layout Elements */

  body.grid-1 {
    background-image: url('./images/IMG_2260.JPG');
    background-attachment: scroll;
    background-position: left top;
    background-clip: border-box;
    background-origin: padding-box;
    background-size: cover;
    background-repeat: no-repeat;

    background-blend-mode: lighten;
  }

  .subgrid > .row > [class*='col-xs-'].subgrid-column-1 {
    background-color: #323232;
    opacity: .88;
  }
}

@media screen and (min-width: 918px) {
  /* Interaction Elements */

  a.link-button.btn {
    margin-top: 0;
    padding-top: 6px;
    padding-bottom: 6px;
    min-width: 30px;
    width: 150px;
    vertical-align: top;
    font-family: 'Lucida Sans Typewriter', 'Lucida Console', Monaco, 'Bitstream Vera Sans Mono', monospace;
  }

  input[type=text].input-3 {
    margin-left: 20px;
    min-width: 30px;
    min-height: 30px;
    width: 150px;
    border-top-width: 0;
    border-right-width: 0;
    border-left-width: 0;
    background-color: transparent;
  }

  input[type=text].input-4 {
    min-width: 0;
    min-height: 30px;
    width: 150px;
    border-top-width: 0;
    border-right-width: 0;
    border-left-width: 0;
    background-color: transparent;
  }

  /* Layout Elements */

  .subgrid > .row > [class*='col-xs-'].subgrid-column-1 {
    height: auto;
    background-color: rgba(2, 2, 2, .7);
  }

  .subgrid > .row > [class*='col-xs-'].subgrid-column-4 {
    min-height: 0;
    background-color: rgba(2, 2, 2, .5);
    text-align: center;
  }

  div.responsive-picture.picture-1 {
    box-shadow: rgba(0, 0, 0, .5) 5px 5px 10px 0;
  }

  .container-fluid.container-3 {
    width: 22.522523%;
  }

  .container-fluid.container-1 {
    margin-top: 10px;
    text-align: center;
  }
}